@font-face {
  font-family: 'bukra';
  font-weight: normal;
  src: url('~static/fonts/bukra/regular/Bukra-Regular.eot'); /* IE9 Compat Mode */
  src: url('~static/fonts/bukra/regular/Bukra-Regular.woff') format('woff'),
       url('~static/fonts/bukra/regular/Bukra-Regular.ttf') format('ttf'),
       url('~static/fonts/bukra/regular/Bukra-Regular.eot') format('eot');
}
@font-face {
  font-family: 'bukra-bold';
  font-weight: normal;
  src: url('~static/fonts/bukra/bold/Bukra-Bold.eot'); /* IE9 Compat Mode */
  src: url('~static/fonts/bukra/bold/Bukra-Bold.woff') format('woff'),
       url('~static/fonts/bukra/bold/Bukra-Bold.ttf') format('ttf'),
       url('~static/fonts/bukra/bold/Bukra-Bold.eot') format('eot');
}
@font-face {
  font-family: 'bukra-light';
  font-weight: normal;
  src: url('~static/fonts/bukra/light/Bukra-Light.eot'); /* IE9 Compat Mode */
  src: url('~static/fonts/bukra/light/Bukra-Light.woff') format('woff'),
       url('~static/fonts/bukra/light/Bukra-Light.ttf') format('ttf'),
       url('~static/fonts/bukra/light/Bukra-Light.eot') format('eot');
}
@font-face {
  font-family: 'bukra-bold-italic';
  font-weight: normal;
  src: url('~static/fonts/bukra/bold-italic/Bukra-BoldItalic.eot'); /* IE9 Compat Mode */
  src: url('~static/fonts/bukra/bold-italic/Bukra-BoldItalic.woff') format('woff'),
       url('~static/fonts/bukra/bold-italic/Bukra-BoldItalic.ttf') format('ttf'),
       url('~static/fonts/bukra/bold-italic/Bukra-BoldItalic.eot') format('eot');
}
