@font-face {
  font-family: 'IBM_plex_arabic';
  font-weight: normal;
  src: url('~static/fonts/IBM_plex_arabic/eot/IBM_plex_arabic-Regular.eot'); /* IE9 Compat Mode */
  src: url('~static/fonts/IBM_plex_arabic/woff/IBM_plex_arabic-Regular.woff') format('woff'),
       url('~static/fonts/IBM_plex_arabic/otf/IBM_plex_arabic-Regular.otf') format('otf'),
       url('~static/fonts/IBM_plex_arabic/eot/IBM_plex_arabic-Regular.eot') format('eot');
}
@font-face {
  font-family: 'IBM_plex_arabic-light';
  font-weight: normal;
  src: url('~static/fonts/IBM_plex_arabic/eot/IBM_plex_arabic-Light.eot'); /* IE9 Compat Mode */
  src: url('~static/fonts/IBM_plex_arabic/woff/IBM_plex_arabic-Light.woff') format('woff'),
       url('~static/fonts/IBM_plex_arabic/otf/IBM_plex_arabic-Light.otf') format('otf'),
       url('~static/fonts/IBM_plex_arabic/eot/IBM_plex_arabic-Light.eot') format('eot');
}
@font-face {
  font-family: 'IBM_plex_arabic-bold';
  font-weight: normal;
  src: url('~static/fonts/IBM_plex_arabic/eot/IBM_plex_arabic-Bold.eot'); /* IE9 Compat Mode */
  src: url('~static/fonts/IBM_plex_arabic/woff/IBM_plex_arabic-Bold.woff') format('woff'),
       url('~static/fonts/IBM_plex_arabic/otf/IBM_plex_arabic-Bold.otf') format('otf'),
       url('~static/fonts/IBM_plex_arabic/eot/IBM_plex_arabic-Bold.eot') format('eot');
}
