body {
    @apply bg-josa-warm-grey-light;
}
.row {
    @apply w-full bg-white flex flex-wrap mt-12;
  }
.button {
  @apply border border-solid rounded-md uppercase py-2 px-4 w-auto inline-block;
  transition: background-color 0.25s linear;
  -webkit-transition: background-color 0.25s linear;
  transition: color 0.25s linear;
  -webkit-transition: color 0.25s linear;
  transition: border-color 0.25s linear;
  -webkit-transition: border-color 0.25s linear;
}
.button-blue {
   @apply border-josa-blue text-josa-blue ;

}
.button-blue:hover {
  @apply bg-josa-blue text-white !important;
}
.button-grey {
  @apply border-josa-warm-grey-dark text-josa-warm-grey-dark;
}
.button-grey:hover {
  @apply bg-josa-warm-grey-dark text-josa-warm-grey !important;
}
.button-blue-full {
  @apply border-josa-blue bg-josa-blue;
  color: #fff !important;
}
.button-blue-full:hover {
  background-color: #2f80a2;
  border-color: #2f80a2;
}
.button-light {
  @apply border-josa-warm-grey text-josa-warm-grey ;
}
.button-light:hover {
  @apply bg-josa-warm-grey text-josa-black !important;
}
a:hover, a.active {
  @apply text-josa-blue;
}