body {
  @apply bg-josa-warm-grey-light;
}

.row {
  @apply w-full bg-white flex flex-wrap mt-12;
}

/* Titles */
.title {
  @apply relative w-full py-6;
}

.title::before {
  content: '';
  position: absolute;
  width: 20%;
  height: 10px;
  top: 0;
  border-top: 10px solid #3897c0;
}

[dir="ltr"] .title::before {
  left: 0;
}

[dir="rtl"] .title::before {
  right: 0;
}

/*****/

.card {
  @apply flex flex-col border rounded bg-white p-6 border-grey90;
}

.button {
  @apply border border-solid rounded-md uppercase py-2 px-4 inline-block;
  transition: background-color, color, border-color, 0.25s linear;
  -webkit-transition: background-color, color, border-color, 0.25s linear;
}

.button-sharp {
  @apply border border-solid py-3 px-10 text-center rounded-none normal-case;
  transition: background-color, color, border-color, 0.25s linear;
  -webkit-transition: background-color, color, border-color, 0.25s linear;
}

.button-blue {
  @apply border-josa-blue text-josa-blue;
}

.button-blue:hover {
  @apply bg-josa-blue text-white !important;
}

.button-grey {
  @apply border-josa-warm-grey-dark text-josa-warm-grey-dark;
}

.button-grey:hover {
  @apply bg-josa-warm-grey-dark text-josa-warm-grey !important;
}

.button-blue-full {
  @apply border-josa-blue bg-josa-blue;
  color: #fff !important;
}

.button-blue-full:hover {
  background-color: #2f80a2;
  border-color: #2f80a2;
}

.button-dark-blue-full {
  @apply border-josa-blue-dark bg-josa-blue-dark;
  color: #fff !important;
}

.button-dark-blue-full:hover {
  @apply border-josa-blue-veryDark bg-josa-blue-veryDark;
}

.button-light {
  @apply border-josa-warm-grey text-josa-warm-grey;
}

.button-light:hover {
  @apply bg-josa-warm-grey text-josa-black !important;
}

.button-flat {
  @apply rounded-none normal-case py-3 px-6 text-josa-black border-josa-black font-bold;
}

.button-flat:hover {
  @apply opacity-75;
}

.content-wrapper a {
  @apply text-josa-blue;
}

a {
  transition: color 0.25s linear;
  -webkit-transition: color 0.25s linear;
  cursor: pointer;
}

a:hover,
a.active {
  @apply text-josa-blue;
}

.nav-link {
  @apply p-2 uppercase block;
}


[dir="ltr"] .nav-link-last {
  @apply pr-0;
}

[dir="rtl"] .nav-link-last {
  @apply pl-0;
}

@screen lg {
  .nav-link {
    @apply inline-block px-4 py-0;
  }
}

/* Lists */
ol {
  list-style: decimal;
}

[lang="ar"] ol {
  list-style: arabic-indic;
}

ul {
  list-style: disc;
}

[dir="ltr"] ol>li,
[dir="ltr"] ul>li {
  @apply ml-4;
}

[dir="rtl"] ol>li,
[dir="rtl"] ul>li {
  @apply mr-4
}

/*****/

/* Profile Picture */
.profilePicture {
  display: inline;
  width: 50px;
  max-height: 60px;
  border-radius: 45%;
}

[dir="ltr"] .profilePicture {
  margin-right: 1rem;
}

[dir="rtl"] .profilePicture {
  margin-left: 1rem;
}

/*****/


/* Categories Menu */
.cat-link {
  @apply px-4 py-2 my-1 text-white cursor-pointer;
}

.cat-link:hover,
.cat-link.active {
  @apply rounded-lg;
  background-color: rgba(229, 229, 229, 0.2);
}

[dir="ltr"] .cat-link {
  @apply mr-2;
}

[dir="rtl"] .cat-link {
  @apply ml-2;
}

/*****/

/* Preview Image */
.preview .thumbnail,
.preview .thumbnail img {
  @apply w-full object-cover mb-4;
  height: 200px;
  object-position: 50% 50%;
}

@screen md {

  .preview .thumbnail,
  .preview .thumbnail img {
    height: 250px;
  }
}

@screen lg {

  .preview .thumbnail,
  .preview .thumbnail img {
    @apply mb-0;
    flex-shrink: 0;
    height: 250px;
    width: 400px;
  }

  [dir="ltr"] .preview .thumbnail {
    @apply pr-6;
  }

  [dir="rtl"] .preview .thumbnail {
    @apply pl-6;
  }
}

.featured .thumbnail {
  @apply w-full object-cover mb-4;
  object-position: 50% 50%;
  height: 200px;
}

@screen md {
  .featured .thumbnail {
    height: 300px;
  }
}

@screen lg {
  .featured .thumbnail {
    height: 450px;
  }
}

/*****/

/* Bot 1 */
#bot-1 {
  @apply w-full m-auto p-5;
  max-width: 250px;
  bottom: 0;
}

[dir="ltr"] #bot-1 {
  right: -20px;
}

[dir="rtl"] #bot-1 {
  left: -20px;
}

@screen lg {
  #bot-1 {
    max-width: 500px;
  }
}

/*****/

/* Messages */

.closed {
  @apply uppercase bg-red-700 text-white px-2 py-1 text-sm rounded-lg text-center inline-block leading-none;
}

.success {
  @apply bg-josa-green-veryLight text-josa-green-dark border border-josa-green p-4;
}

.fail {
  @apply bg-josa-red-veryLight text-josa-red-dark border border-josa-red p-4;
}

/*****/

/* Tooltip */

.tooltip {
  @apply relative;
}

.tooltip-text {
  @apply p-2 w-full absolute z-10 bg-josa-black text-white text-center rounded-md opacity-75 right-0 mt-2;
  top: 100%;
}

.tooltip:hover .tooltip-text {
  @apply visible;
}

.copy-tooltip-text {
  @apply p-2 absolute z-10 bg-josa-blue font-medium text-white text-left text-xs leading-4 rounded-md opacity-75;
}

[dir="ltr"] .copy-tooltip-text {
  right: -75px;
  left: unset;
}

[dir="rtl"] .copy-tooltip-text {
  left: -75px;
  right: unset;
}

/*****/