/* Typography Styles */
body {
  @apply font-lato text-josa-black leading-normal;
}
h1, h2, h3, h4, h5, h6 {
  @apply font-aleoLight leading-tight;
}
h2 {
  @apply font-medium text-4xl mb-2
}
.display-light {
  @apply font-aleoLight font-light text-josa-warm-grey
}
.display-lead {
  @apply text-xl font-light
}
