/* Typography Styles */

/* Body */
body {
  @apply text-josa-black;
}

[lang="en"] body, .en {
  @apply font-lato text-base leading-normal;
}

[lang="ar"] body, .ar {
  @apply font-markazi text-xl leading-normal;
}

/* H */
[lang="en"] h1,
[lang="en"] h2,
[lang="en"] h3,
[lang="en"] h4,
[lang="en"] h5,
[lang="en"] h6 {
  @apply font-aleoLight leading-tight;
}

[lang="ar"] h1,
[lang="ar"] h2,
[lang="ar"] h3,
[lang="ar"] h4,
[lang="ar"] h5,
[lang="ar"] h6 {
  @apply font-bukraLight leading-snug;
}

/* h2 */
h2 {
  @apply font-medium text-4xl mb-2;
}

[lang="en"] h2 {
  @apply font-aleoLightItalic leading-golden;
}

[lang="ar"] h2 {
  @apply font-bukraLight;
}


/* h3 */
[lang="en"] h3 {
  @apply font-normal text-xl font-lato;
}

[lang="ar"] h3 {
  @apply font-normal text-xl font-markazi;
}

/* h4 */
h4 {
  @apply font-aleoLightItalic font-medium text-5xl mb-2;
}

[lang="en"] h4 {
  @apply font-aleoLightItalic leading-none;
}

[lang="ar"] h4 {
  @apply font-bukraLight;
}

/* h5 */
h5 {
  @apply font-normal text-xs font-medium uppercase text-josa-warm-grey-dark;
}

[lang="en"] h5 {
  @apply font-lato;
}

[lang="ar"] h5 {
  @apply font-markazi;
}

/* h6 */
h6 {
  @apply font-bold;
}

[lang="en"] h6 {
  @apply font-lato;
}

[lang="ar"] h6 {
  @apply font-markazi;
}

/* Display Styles */
.display-light {
  @apply font-light text-josa-warm-grey;
}

[lang="en"] .display-light {
  @apply font-aleoLight;
}

[lang="ar"] .display-light {
  @apply font-bukraLight;
}


.display-lead {
  @apply text-xl font-light;
}
