/* Typography Styles */

/* Body */
body {
  @apply font-IBMPlexSansArabic text-josa-black leading-normal text-base;
}

/* Mono */ 
pre, code, kbd, samp {
  @apply font-IBMPlexMono;
}

/* H */
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-IBMPlexSansArabic leading-normal text-josa-black;
}

a:hover>h1,
a:hover>h2,
a:hover>h3,
a:hover>h4,
a:hover>h5,
a:hover>h6 {
  @apply text-josa-blue;
  transition: color 0.25s linear;
  -webkit-transition: color 0.25s linear;
}

/* h2 */
h2 {
  @apply font-medium text-4xl mb-2;
}

/* h3 */
h3 {
  @apply font-normal text-xl;
}

/* h4 */
h4 {
  @apply font-medium text-5xl mb-2;
}

/* h5 */
h5 {
  @apply font-normal text-xs font-medium uppercase text-josa-warm-grey-dark;
}

/* h6 */
h6 {
  @apply font-bold;
}

/* Display Styles */
.display-light {
  @apply font-light text-josa-warm-grey;
}

.display-lead {
  @apply text-xl font-light;
}